body {
  font-family: Josefin Sans;
  background-color: hsl(235, 21%, 11%);
  background-attachment: fixed;
  @import url(https://fonts.google.com/specimen/Josefin+Sans);


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}



